/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
  }
  
  /* Header styles */
  header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #555;
  }
  
  /* Hero section styles */
  #hero {
    background-image: url('./img/544430-code-programming.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px;
    text-align: center;
    color: #fff;
  }
  
  .hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero-content h2 {
    font-size: 24px;
    color: #777;
  }
  
  /* About section styles */
  #about {
    padding: 100px;
    background-color: #fff;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  /* Projects section styles */
  #projects {
    padding: 100px;
    background-color: #f5f5f5;

  }
  
  .project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
  }
  
  /* Blog section styles */
  #blog {
    padding: 100px;
    background-color: #fff;
  }
  
  .blog-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
  }
  
  /* Footer (Contact) section styles */
  #contact {
    background-color: #333;
    padding: 50px;
    color: #fff;
    text-align: center;
  }
  
  .contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .contact-info li {
    margin-right: 20px;
  }
  
  .contact-info li:last-child {
    margin-right: 0;
  }
  
  .contact-info a {
    color: #fff;
    text-decoration: none;
    transition: opacity 0.3s ease;
  }
  
  .contact-info a:hover {
    opacity: 0.7;
  }
  
  .contact-info img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 8px;
  }
  
  a {
    text-decoration: none;
    color: inherit
  }
  
  .blog-post-image {
    vertical-align: middle; /* Adjust alignment if needed */
    margin-right: 10px; /* Add spacing between the image and heading */
    width: 50px; /* Adjust the width of the image as per your preference */
    height: 50px; /* Adjust the height of the image as per your preference */
  }
  
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {}
/* Adjust styles for smaller screens
  